html {
  background-color: lightgray;
  border: solid 1.8vw;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
.invLay {
  visibility: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.coins {
  background-color: yellow;
  border: solid 0.2vw;
  border-radius: 3.5vw;
  width: 25%;
  height: 2.9%;
  position: absolute;
  left: 3%;
  top: -1%;
  font-size: 2.4vh;
}
.diamond {
  background-color: yellow;
  border: solid 0.2vw;
  border-radius: 3.5vw;
  width: 25%;
  height: 2.7%;
  position: absolute;
  left: 3%;
  top: 3%;
  font-size: 2.4vh;
}
.button {
  width: 19.70%;
  height: 12.3%;
  border: solid;
  border-radius: 3vw;
  font-size: 2.3rem;
  background-color: lightgreen;
  margin-top: 1px;
  margin-right: -3px;
}
.buttonCol {
  position: absolute;
  top: 14%;
  border: solid 0.5vw black;
  border-radius: 3.3vw;
  background-color: green;
  padding-right: 0;
  width: 96%;
  height: 85%;
}
.inventory {
  background-color: brown;
  border: solid 0.3vw;
  border-radius: 1.2vw;
  right: 1%;
  top: 2%;
  width: 22%;
  height: 11.5%;
  position: absolute;
  font-size: 3em;
}
.upgradeMenu {
  visibility: hidden;
  position: absolute;
  top: 20%;
  right: 16.5%;
  width: 65%;
  height: 55%;
  background-color: blue;
  z-index: 2;
  border: solid 0.5vw gray;
  border-radius: 6%;
}
.upgOff {
  position: absolute;
  border: solid 0.2vw red;
  border-radius: 5vw;
  font-size: 150%;
  padding: 5px;
  background-color: darkred;
  right: -2%;
  top: -2%;
}
#updMenuImg {
  position: absolute;
  top: -51px;
  left: 37%;
  font-size: 310%;
  border: solid 0.5vw gray;
  border-radius: 0 0 20% 20%;
  background-color: white;
  border-top-color: blue;
}
#updMenulevelText {
  color: white;
  position: absolute;
  top: 60px;
  left: 10px;
}
#updMenulevel {
  color: white;
  position: absolute;
  top: 61px;
  left: 80px;
}
#updMenuTime {
  color: white;
  position: absolute;
  top: 80px;
  left: 10px;
}
#updMenuTypeText {
  color: white;
  position: absolute;
  top: 100px;
  left: 10px;
}
#updMenuType {
  color: white;
  position: absolute;
  top: 100px;
  left: 45px;
}
#updMenuStatus {
  color: white;
  position: absolute;
  top: 120px;
  left: 10px;
}
#updMenuStyle {
  border: dashed 2px yellow;
  border-radius: 10px;
  position: absolute;
  top: 60px;
  left: 5px;
  padding-right: 180px;
  padding-top: 80px;
}
